  *, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  // COLOR VARIABLES
  $color-seaGreen: rgb(7, 106, 106);
  $color-blue: rgb(11, 134, 223);
  $color-navy-blue: rgb(13, 60, 118);
  $color-black: black;
  $color-white: white;
  $color-whitesmoke: whitesmoke;

  // BODY STYLING
  body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }

  // NAVBAR

  .logoText{
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: $color-white;
    margin-left: 2rem;
  }

  .navbar{
    background-color: $color-navy-blue;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    &> ul{
      display: flex;
      justify-content: center;
      align-items: center;
      &> li{
        padding: 0 2rem;

        &>a{
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  // CARD ROW
  .cardRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
  }

  // CARD STYLING
  .card{
    max-width: 1250px;
    margin: 0 auto;
    margin: 1rem;
    border: 1px solid $color-black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.457);
  }

  // CARD TITLE
  .cardTitle{
    font-size: 2rem;
    padding: 1rem 0;
    color: $color-navy-blue;
  }

  // CARD CONTENT
  .cardContent{
    margin: 0 1rem;
  }

  // CARD IMAGE STYLING
  .cardImg{
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }

  // CARD SEAT ICON
  .seatsImg{
    width: 14px;
  }


  // CARD PRICE CONTAINER
  .cardPriceContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
  }

  // CARD DESCRIPTION
  .cardDescription{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .invisibleCardDescription{
    display: none;
    &.active{
      display: inline-block;
    }
  }

  // READ MORE BUTTON
  .cardReadMoreBtn{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: $color-seaGreen;
    color: $color-whitesmoke;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    transition: all 0.15s ease-in;
    margin-top: 1rem;

    &:hover{
      background-color: $color-black;
    }
  }

  // SHOW LESS BUTTON
  .cardShowLessBtn{
    cursor: pointer;
    text-decoration: none;
    display: none;
    background-color: $color-black;
    color: $color-whitesmoke;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    transition: all 0.15s ease-in;
    margin-top: 1rem;

    &:hover{
      background-color: $color-seaGreen;
    }
  }

  // RENT BUTTON
  .cardRentBtn{
    text-decoration: none;
    background-color: $color-navy-blue;
    color: $color-whitesmoke;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    transition: all 0.15s ease-in;

    &:hover{
      background-color: $color-blue;
      color: $color-white;
    }

  }

  // NOT AVAILABLE
  .notAvailable{
    color: red;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
  }

  // FOOTER

  .footerCopyRight{
    background-color: $color-navy-blue;
    color: $color-white;
    padding: 3rem 0;
    text-align: center;
  }
  

  @media screen and (max-width: 970px) {
    .cardRow{grid-template-columns: repeat(2, 1fr);}
  }

  @media screen and (max-width: 600px) {
    .cardRow{grid-template-columns: 1fr;}
    .card{
      max-width: 1250px;
      margin: 0 auto;
      margin: 3rem;
      gap: 2rem;
    }
    .cardImg{
      width: 100%;
      height: 50vw;
      object-fit: cover;
    }
    .navbar>ul>li{padding: 0 1rem;}
  }

  @media screen and (max-width: 470px) {
    .navbar{
      font-size: 0.7rem;
    }
    .logoText{font-size: 1rem; margin-left: 1rem;}
  }